#services-page {
  .home {
    background-image: linear-gradient(
        to bottom,
        rgba(245, 246, 252, 0.52),
        rgba(117, 19, 93, 0.73)
      ),
      url('../../product_image/pexels-anna-shvets-4611959.jpg');
    // width: 80%;
    height: 70vh;
    background-size: cover;
    background-position: -100% 20%;
    background-repeat: no-repeat;
    // background-repeat: no-repeat;
    color: white;
    display: flex;
    align-items: center;
    overflow: hidden;
    span {
      color: var(--primary-800);
      color: var(--grey-900);
      display: block;
      // font-weight: bold;
      max-width: 400px;
      // text-align: center;
      margin-left: 1rem;
      font-size: 1.5rem;
      padding-bottom: 0.5rem;
      letter-spacing: 0.2rem;
      text-transform: uppercase;
    }
    span > span {
      font-weight: bolder;
    }
    @media screen and (min-width: 768px) {
      span {
        font-size: 1.8rem;
      }
    }
  }

  .blog-service {
    img {
      width: 100%;
      max-width: 500px;
      max-height: 400px;
    }
    p {
      max-width: 100%;
    }
  }
  .intro-desc-center h4 {
    line-height: 1.2;
  }

  @media screen and (min-width: 768px) {
    .intro-desc-center {
      display: flex;
      column-gap: 4rem;
    }
  }
}
