#error-page {
  .section-center {
    display: flex;
    justify-content: center;

    h2 {
      font-size: 8rem;
    }

    .btn-container {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    p {
      text-align: center;
    }
  }
}
