.cart {
  p {
    margin: 0;
  }
  .cart-center {
    background: var(--white);

    a.btn {
      width: 100%;
      text-align: center;
      max-width: 400px;
    }
  }

  .title {
    width: 100%;
    margin: 0 auto;
    // background: red;
  }

  .booking {
    margin: 1rem 0;
    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
    }
    .img-container {
      display: flex;
      gap: 0.3rem;
    }
    .total-text {
      // display: flex;
      font-weight: normal !important;
    }
  }
  .info {
    display: flex;
    // background: red;
    justify-content: space-between;
    align-items: center;
    border-top: solid 1px var(--grey-200);
  }
  .info.empty {
    font-style: italic;
  }
  .info,
  .head {
    padding: 0.5rem;
  }
  .head {
    display: flex;
    justify-content: space-between;

    span {
      display: flex;
      align-items: center;
      gap: 0.3rem;
      font-weight: bolder;
      i {
        font-size: 1.3rem;
      }
    }
    a {
      color: var(--primary-400);
      text-decoration: underline;
    }
  }
  .destination,
  .services-cart {
    margin-bottom: 2rem;
  }
  .services-cart {
    .price {
      display: flex;
      gap: 0.3rem;
      i {
        font-size: 1.7rem;
        color: #f9af00;
        cursor: pointer;
      }
    }
  }
  form {
    width: 100%;
    display: flex;
    justify-content: center;
    // background: red;
  }
}
.alert-section-cart {
  display: none;
  .alert-center {
    background: #fbebed;
    border: dotted 1px var(--red-dark);
    border-radius: var(--borderRadius);
  }
  span {
    font-weight: bolder;
  }
  i {
    color: var(--primary-300);
  }
  span,
  p {
    color: var(--red-dark);
  }
  a {
    width: 100%;
    text-align: center;
    max-width: 300px;
  }
  form {
    width: 100%;
    display: flex;
    justify-content: center;
    max-width: 400px;
    // background: red;
  }
}

.cart-btn {
  background: #f9af00;
  font-size: 0.85rem;
  font-weight: bolder;
  margin: 0 auto;
  width: 100%;
}
.cart-btn:hover {
  background: #f9af00;
  opacity: 0.85;
}
